<form action="/create_user" method="post">
  <div class="container">
    <label for="user_name_html"><b>User Name</b></label>
    <input type="text" name="user_name_html" required>
    <label for="phone_html"><b>Phone</b></label>
    <input type="text" name="phone_html" required>
    <label for="Address_line_1_html"><b>Address_line_1</b></label>
    <input type="text" name="Address_line_1" required>
    <label for="Address_line_2_html"><b>Address_line_2</b></label>
    <input type="text" name="Address_line_2_html" required>
    <label for="user_password_html"><b>User Password</b></label>
    <input type="text"  name="user_password_html" required>
    <button type="submit">Login</button>
  </div>
</form>
