<!DOCTYPE html>
<html>
<body>
<h2>login</h2>
<form action="/auth" method="post">
  <div class="container">
    <label for="user_name_html"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="user_name_html" required>
    <label for="user_password_html"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="user_password_html" required>
    <button type="submit">Login</button>
  </div>
</form>
<form class="" action="/register" method="POST">
  <button class="btn btn-lg btn-primary" type="submit">Register</button>
</form>
</body>
</html>
